/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #E55473;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
}

/* header related styles */
.header{
    background: rgba(229, 84, 115, 0.10);
}

.banner{
    margin: 0px 180px;
    padding top: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.banner-content{
    max-width: 460px;
}


.banner .profile-picture{
    width: 500px;
}
.banner-greething{
    color: #272727;
    font-size: 45px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 170;
    line-height: 24px;
    padding-bottom: 15px;
}

/* main section styles */

/* featured flower section */
.featured-flowers{
    padding: 130px;
}

/* demo flower related styles */
.demo-flowers{
    display: flex;
}